fastapi
uvicorn
python-multipart
pymongo
passlib[bcrypt]
face_recognition
numpy
opencv-python
gspread
gspread-formatting
google-auth
oauth2client
python-dotenv
python-jose[cryptography]
email-validator
pydantic
